# Load .h5 file and convert it into flat file .csv

In [63]:
import pandas as pd
import numpy as np
import h5py

# --- PARAMETERS ---
h5_filepath = u'C:/Users/kamil/Dropbox (The University of Manchester)/KTP/Work/Data/Original/yanshan_cdu4_2016_Q3_2018.h5'
labels_filepath = 'C:/Users/kamil/Dropbox (The University of Manchester)/KTP/Work/Data/Original/labels.csv'
csv_filepath = 'C:/Users/kamil/Dropbox (The University of Manchester)/KTP/Work/Data/Original/'
range_start = "2016-07-01 00:00"
range_end = "2018-12-31 23:59"
dataset1_start_time = '2016-09-01 00:00'
dataset1_end_time = '2017-06-01 23:59'
dataset2_start_time = '2018-01-01 00:00'
dataset2_end_time = '2018-07-01 23:59'

list_names = ["TIC1275", "FIC1208", "TI1232", "TI1225", "FI1210", "TI1144", "TI1226",
              "PI1212", "TIC1201", "PI1211", "FIC1205", "FIQ1337.SUM", "TI1317",
              "TI1231", "FIC1206", "TI1264", "FIC1207", "FIC1201", "TI1221", "FIC1307",
              "FIQ1334.SUM", "TI1316", "TI1228", "FIC1261", "TIC1222", "FIC1202", "TIC1202",
              "FIC1304", "TI1312", "FI1331", "TI1229", "FIC1264", "TIC1265", "TIC1223",
              "FIC1203", "TIC1203", "FIC1303", "FI1332", "TI1313", "TI1267", "FIC1263",
              "FIC1272", "FIQ1271.SUM", "TI1276", "TI1268", "FIC1204", "FIC1270", "FIC1262",
              "TIC1204", "TI2G2302", "TI1230", "FIC1209", "TIC1269", "FIC1265", "TI2G2301", "FIQ1273.SUM", "FIQ2G4504.SUM"]

list_names_corrected = ["TIC1275", "FIC1208", "TI1232", "TI1225", "FI1210", "TI1144", "TI1226",
                        "PI1212", "TIC1201", "PI1211", "FIC1205", "FIQ1337", "TI1317",
                        "TI1231", "FIC1206", "TI1264", "FIC1207", "FIC1201", "TI1221", "FIC1307",
                        "FIQ1334", "TI1316", "TI1228", "FIC1261", "TIC1222", "FIC1202", "TIC1202",
                        "FIC1304", "TI1312", "FI1331", "TI1229", "FIC1264", "TIC1265", "TIC1223",
                        "FIC1203", "TIC1203", "FIC1303", "FI1332", "TI1313", "TI1267", "FIC1263",
                        "FIC1272", "FIQ1271", "TI1276", "TI1268", "FIC1204", "FIC1270", "FIC1262",
                        "TIC1204", "TI2G2302", "TI1230", "FIC1209", "TIC1269", "FIC1265", "TI2G2301", "FIQ1273", "FIQ2G4504"]

# Load the .h5 file


class PHDh5loader():

    def __init__(self):
        #self.h5File = None
        #self.df_data = None
        pass

    def load(self, h5File):
        res = None
        with h5py.File(h5File, "r") as h5f:
            data = h5f.get('/data').value
            times = h5f.get('/time').value.astype('datetime64[ns]')
            df_data = pd.DataFrame(data=data, index=times)
        return df_data


h5loader = PHDh5loader()
df_data = h5loader.load(h5_filepath)
labels = pd.read_csv(labels_filepath)

# Assign numbering of measurements to labels
iterates = []
name_append = []

# Assign number from labels to name
for i in range(0, len(list_names)):
    name = list_names[i]
    for j in range(0, len(labels)):
        if labels.iloc[j, 1] == name:
            iterates.append(j)
            name_append.append(name)
        else:
            pass

# Create dataframe with specified time range and columns
data = df_data.loc[range_start:range_end, iterates]
data.columns = list_names_corrected

# Change the time indices to column, and reset indices from 0
data['time'] = data.index
data = data.reset_index(drop=True)

# Differentiate summative signal - calculate absolute values at each time point
flow_diff = data[['FIQ1334', 'FIQ1271', 'FIQ1273',
                  'FIQ1337', 'FIQ2G4504']].diff(periods=60)

flow_diff = flow_diff.rename(columns={'FIQ1334': 'FIQ1334_diff', 'FIQ1271': 'FIQ1271_diff', 'FIQ1273': 'FIQ1273_diff',
                                      'FIQ1337': 'FIQ1337_diff', 'FIQ2G4504': 'FIQ2G4504_diff'})

data = data.drop(['FIQ1334', 'FIQ1271', 'FIQ1273',
                  'FIQ1337', 'FIQ2G4504'], axis=1)

data = pd.concat([data, flow_diff], axis=1)

data = data.fillna(method='bfill')

data.to_csv(csv_filepath + 'data.csv')

columns_T = np.append([i for i in data.columns if i.startswith(('T'))], 'time')
columns_F = np.append([i for i in data.columns if i.startswith(('F'))], 'time')
columns_P = np.append([i for i in data.columns if i.startswith(('P'))], 'time')

data['time'] = pd.to_datetime(data['time'])
dataset1 = data.loc[(data['time'] >= dataset1_start_time) & (
    data['time'] <= dataset1_end_time)].reset_index(drop=True)
dataset2 = data.loc[(data['time'] >= dataset2_start_time) & (
    data['time'] <= dataset2_end_time)].reset_index(drop=True)

dataset1_T = dataset1[columns_T].to_csv(csv_filepath + 'dataset1_T.csv')
dataset2_T = dataset2[columns_T].to_csv(csv_filepath + 'dataset2_T.csv')

dataset1_F = dataset1[columns_F].to_csv(csv_filepath + 'dataset1_F.csv')
dataset2_F = dataset2[columns_F].to_csv(csv_filepath + 'dataset2_F.csv')

dataset1_P = dataset1[columns_P].to_csv(csv_filepath + 'dataset1_P.csv')
dataset2_P = dataset2[columns_P].to_csv(csv_filepath + 'dataset2_P.csv')

C:\Users\kamil\anaconda3\lib\site-packages\ipykernel_launcher.py:47: H5pyDeprecationWarning: dataset.value has been deprecated. Use dataset[()] instead.
C:\Users\kamil\anaconda3\lib\site-packages\ipykernel_launcher.py:48: H5pyDeprecationWarning: dataset.value has been deprecated. Use dataset[()] instead.

# Ingesting the flat file onto SQL database

In [ ]:
import pyodbc
from sqlalchemy import create_engine

name = 'data'
schema = 'dbo'

conn = pyodbc.connect(DRIVER='{SQL Server}',
                      SERVER='192.168.1.72, 1433',
                      DATABASE='Database_PIL',
                      UID='sa',
                      PWD='mbdxwko2')

cursor = conn.cursor()

engine = create_engine(
    'mssql+pyodbc://sa:mbdxwko2@192.168.1.72:1433/Database_PIL?driver=ODBC+Driver+17+for+SQL+Server')

data.to_sql(name,
                       schema=schema,
                       con=engine,
                       index=False,
                       if_exists='replace',
                       method='multi',
                       chunksize=2097 // data.shape[1]
                       )

# Split the data on the SQL server

In [53]:
drop_tables = 'DROP TABLE dbo.dataset1_F, dbo.dataset1_P, dbo.dataset1_T, dbo.dataset2_F, dbo.dataset2_P, dbo.dataset2_T'

create_T_1 = "SELECT " + ', '.join(columns_T) + \
    " INTO dbo.dataset1_T FROM dbo.data WHERE time BETWEEN " + \
    dataset1_start_time + " AND " + dataset1_end_time

create_T_1 = "SELECT " + ', '.join(columns_T) + \
    " INTO dbo.dataset1_T FROM dbo.data WHERE time BETWEEN " + \
    dataset2_start_time + " AND " + dataset2_end_time

create_F_1 = "SELECT " + ', '.join(columns_F) + \
    " INTO dbo.dataset1_T FROM dbo.data WHERE time BETWEEN " + \
    dataset1_start_time + " AND " + dataset1_end_time

create_F_1 = "SELECT " + ', '.join(columns_F) + \
    " INTO dbo.dataset1_T FROM dbo.data WHERE time BETWEEN " + \
    dataset2_start_time + " AND " + dataset2_end_time

create_P_1 = "SELECT " + ', '.join(columns_P) + \
    " INTO dbo.dataset1_T FROM dbo.data WHERE time BETWEEN " + \
    dataset1_start_time + " AND " + dataset1_end_time

create_P_1 = "SELECT " + ', '.join(columns_P) + \
    " INTO dbo.dataset1_T FROM dbo.data WHERE time BETWEEN " + \
    dataset2_start_time + " AND " + dataset2_end_time

queries = np.array([drop_tables, create_T_1, create_T_2,
                    create_F_1, create_F_2, create_P_1, create_P_2])

for query in queries:
    try:
        cursor.execute(query)
        cursor.commit()
    except:
        cursor.commit()